@import "../../style/palette.scss";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  background-color: $color-primary;
  color: $color-text;
  margin-bottom: 2em;
  .brand {
    font-weight: bold;
  }
}
