@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import "./palette.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  background: $color-bg;
  color: $color-text;
}
h1 {
  font-size: 1.5em;
  padding-bottom: 1em;
}
.content-container {
  width: 100%;
  margin: 0 auto;
  @media (min-width: 1400px) {
    max-width: 1385px;
  }
}
.text-center {
  text-align: center;
}
.btn {
  padding: 1em 1.5em;
}
.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
