$color-primary: #0ead69;
$color-secondary-light: #c1f9b0;
$color-secondary-medium: #8cdf7c;
$color-secondary-dark: #4baa52;
$color-bg: #161616;
$color-shadow: #111;
$color-text: #fff;
$color-red: #ee4266;
$color-yellow: #ffd23f;
$color-orange: #f78a53;
$color-green: #9dd076;
